*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;
    overflow: hidden;
}
.container{
    position: relative;
    width: 600px;
    height: 350px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25),
    0 30px 60px -30px rgba(0, 0, 0, .3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
}
.container #switchBx{
    display: none;
}
.container .bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(107, 6, 196, 0.8);
    transform: scale(0);
    z-index: -1;
    transition: all 1.5s ease;
    transition-delay: .3s;
}
#switchBx:checked ~ .bg{
    transform: scale(1);
}
.container .card{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
    border-radius: 10px;
    z-index: 10;
    transition: all .3s ease;
}
#switchBx:checked ~ .card{
    background: rgba(107, 6, 196, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4),
    0 7px 13px -3px rgba(0, 0, 0, .3),
    inset 0 -5px 0 rgba(0, 0, 0, .3);
}
.container .card .content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .card .content label{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 30px;
    background: #6b06c4;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4),
    0 50px 100px -20px rgba(50, 50, 93, .25),
    0 30px 60px -30px rgba(0, 0, 0, .3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
    transition: all .3s ease;
}
#switchBx:checked ~ .card .content label{
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4),
    0 7px 13px -3px rgba(0, 0, 0, .3),
    inset 0 -2px 0 rgba(0, 0, 0, .3);
}
.container .card .content label .toggle{
    position: absolute;
    top: 50%;
    left: 12px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin-left: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4),
    0 50px 100px -20px rgba(50, 50, 93, .25),
    0 30px 60px -30px rgba(0, 0, 0, .3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
    transition: all .3s ease;
}
#switchBx:checked ~ .card .content label .toggle{
    left: 42px;
    background: #6b06c4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4),
    0 7px 13px -3px rgba(0, 0, 0, .3),
    inset 0 -2px 0 rgba(0, 0, 0, .3);
}
.container .card .content .imgBx{
    position: relative;
    width: 250px;
    height: 100%;
    background: #fff;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
    border: 5px solid #6b06c4;
}
#switchBx:checked ~ .card .content .imgBx{
    border: 5px solid #fff;
    background: #6b06c4;
}
.container .card .content .imgBx img{
    position: absolute;
    width: 97%;
    height: 97%;
    object-fit: cover;
    border-radius: 10px;
}
.container .card .content .detail{
    position: relative;
    width: calc(100% - 250px);
    height: 100%;
}
.container .card .content .detail h2{
    text-transform: capitalize;
    color: #6b06c4;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .3s ease;
}
#switchBx:checked ~ .card .content .detail h2{
    color: #fff;
}
.container .card .content .detail h2 span{
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0;
    transition: all .3s ease;
}
#switchBx:checked ~ .card .content .detail h2 span{
    color: #fff;
}
.container .card .content .detail .buttons{
    position: relative;
}
.container .card .content .detail .buttons p{
    color: rgba(107, 6, 196, 0.8);
    font-size: 17px;
    transition: all .3s ease;
}
#switchBx:checked ~ .card .content .detail .buttons p{
    color: #f2f2f2;
}
.container .card .content .detail .buttons button{
    position: relative;
    padding: 10px 15px;
    outline: none;
    border: none;
    background: #6b06c4;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-top: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4),
    0 50px 100px -20px rgba(50, 50, 93, .25),
    0 30px 60px -30px rgba(0, 0, 0, .3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
}
#switchBx:checked ~ .card .content .detail .buttons button{
    background: #fff;
    color: #6b06c4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4),
    0 7px 13px -3px rgba(0, 0, 0, .3),
    inset 0 -5px 0 rgba(0, 0, 0, .3);
}
.container .card .content .detail .buttons button:hover{
    transform: scale(0.9);
}
.container .card .content .detail .buttons button:active{
    transform: scale(1);
}
.container .card .iconBx{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.container .card .iconBx a{
    position: relative;
    text-decoration: none;
    width: 30px;
    height: 30px;
    color: #6b06c4;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4),
    0 50px 100px -20px rgba(50, 50, 93, .25),
    0 30px 60px -30px rgba(0, 0, 0, .3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
.container .card .iconBx a:hover{
    transform: scale(0.9);
}
.container .card .iconBx a:active{
    transform: scale(1);
}
#switchBx:checked ~ .card .iconBx a{
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4),
    0 7px 13px -3px rgba(0, 0, 0, .3),
    inset 0 -5px 0 rgba(0, 0, 0, .3);
}